<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Guess Number Vue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
    
        <div id="app" class="container">
            <h1>Adivina el número secreto</h1>
            <input type="number" placeholder="Introduzca un número" v-model="message" class="form-control">
            
            <h1 v-if="message == 0">Inserte un número del 1 al 100!</h1>
            <h1 style="color: red;" v-else-if="message < secret">El número secreto es mayor!</h1>
            <h1 style="color: blueviolet;" v-else-if="message > secret">El número secretos es menor!</h1>
            <h1 style="color: green" v-else>Enhorabuena, acertaste!</h1>
        </div>
            
        <script src="index.js"></script>
    </body>
</html>